@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.wave{
    position: absolute;
    top:0;
    right: 30%;
}
.container{
    height:100vh;
    width:100%;
    background: linear-gradient(to right,hsl(187, 42%, 61%) 70%, #ebd4b1 30%);
    position: relative;
    overflow:hidden;

}

nav ul{
    display:flex;
    list-style-type: none;

    
}
nav{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    margin: 0 5px;

}
nav ul li a{
    text-decoration: none;
    z-index: 1;
    padding: 0.3rem 1.3rem;
    font-size: 17px; 
    position: relative;
    font-weight: bold;
    color: #494234;
   
    
}
nav ul li a::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    border-radius: 20px;
    background-color: #c8ebb1;
    z-index: -1;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.imp-content {
    width: 60%;
    padding-top: 100px;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image-staionary, .imp-text{
    flex-basis: 50%;
}
.image-staionary{
    
    padding-right: 40px;
    width: auto;
    
}
.imp-content h1{
    font-size: 50px;
    font-weight: 10000px;
    letter-spacing: 1px;
    color:#e92214;
    padding-top: 10rem;
    
}
.imp-content p{
    margin-top: 15px;
    font-size: 25px;
    letter-spacing: 1px;
    padding-right: 6rem;
    color: rgb(93, 43, 10);
    font-weight: 500;
    
    
}
.imp-content button{
    margin-top: 30rem;
    outline:none;
    border: none;
    font-size: 18px;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0 50% 50% 0;
    background-color: #494234;
    color: white;
    cursor: pointer;
    margin-left: 30rem;

}
.swiper{
    width: 27rem;
    padding-bottom: 25rem;
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right{
    position: absolute;
    right: 4%;
    bottom: 25%;
    
}
.box{
    display: flex;
    align-items:center;
}
.right .box .image img{
    width: 70%;

}
.image{
    margin-top: 1rem;
    width: 80px;
    height: 50px;
    border-radius: 50%;
    box-shadow: -5px 5px 17px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.image:hover{
    background-color: rgba(73,66,52,0.7);
}
.box .inner-box{
    margin:1.5 rem 0 0 1rem;
}
.box .inner-box p{
    font-size:14px;
    font-weight: 500;
}
.social-links{
    position:absolute;
    right : 5%;
    bottom: 5%;

}
.social-links::before{
    content: "";
    width: 80%;
    height : 3px;
    position: absolute;
    top: 42%;
    left: -150px;
    background-color: #494234; 
}
.social-links i{
    margin-left: 10px;
    width : 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #93c572;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
} 
.social-links i:hover{
    transform : translateY(-15px);


}   
